body,
html {
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 100%;
  color: #222;
}

* {
  box-sizing: border-box;
}

/* Links */
a {
  text-decoration: none !important;
  color: #3173bb !important;
}

strong {
  color: #333;
}

.container {
  padding: 10px 15px;
  margin: 0 auto;
  /* width: 55rem; */
  max-width: 55rem;
  background-color: #fff;
}

.link-title {
  letter-spacing: 1px;
  font-weight: 600;
  color: #444;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
  flex-wrap: wrap;
}

.profile-logo {
  width: 100px;
  height: 100px;
  background-image: url('/assets/images/avatar.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

.header-title {
  font-family: 'Source Sans Pro';
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: right;
}

.header-sub-title {
  font-weight: 400;
  color: #999;
  letter-spacing: 1px;
  text-align: right;
  text-transform: uppercase;
}

.contact-section {
  padding-bottom: 0.5rem;
}

.contact-item {
  display: flex;
  align-items: center;
  color: #3173bb;
  padding: 0.4rem 0;
}

.contact-logo {
  color: #3173bb;
}

.contact-info {
  padding-left: 1rem;
}

.info-section {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-left {
  flex: 1;
  border-right: 2px solid #f5f5f5;
  padding-right: 1rem;
}

.info-right {
  flex: 3;
  padding-left: 1rem;
}

.info-row {
  width: 100%;
}

.cat-header {
  padding: 0.5rem 0;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.cat-indicator {
  color: #3173bb;
}

.cat-title {
  font-family: 'Source Sans Pro';
  text-transform: uppercase;
  letter-spacing: 3px;
  vertical-align: text-bottom;
  padding-left: 1rem;
  color: #666;
}

.cat-def-body,
.cat-skill-body {
  padding: 0.2rem 0px 0.7rem 1.7rem;
}

/* Lists */
.cat-list-body ul {
  padding-left: 18px;
  margin: 0;
  list-style-type: circle;
}

.cat-list-body li {
  padding: 0.4rem 0;
  padding-left: 0.6rem;
}

/* Education */
.edu-header,
.project-header {
  display: flex;
  justify-content: space-between;
}

.edu-alma,
.project-title,
.skill-title {
  font-weight: 600;
  letter-spacing: 1px;
  padding-right: 60px;
}

.edu-duration,
.project-duration {
  color: #666;
  font-style: italic;
}

.edu-class-data {
  /* clear: right; */
  margin-top: 5px;
}

.edu-std {
  letter-spacing: 0.1rem;
  color: #666;
}

.edu-score {
  margin-left: 20px;
  padding: 2px 8px;
  background-color: #3173bb;
  color: #fff;
  border-radius: 20px;
}

.cat-def-body,
.cat-list-body,
.cat-contact-body,
.cat-skill-body {
  font-family: 'Source Sans Pro';
}

/* Project */
.project-title {
  padding-right: 5px;
}

.project-desc {
  /* margin-top: 8px; */
  color: #444;
  padding: 4px 0 4px 16px;
  border-left: 2px solid beige;
  font-style: italic;
}

/* Skills */
.cat-skill-item {
  padding: 0.2rem 0 !important;
  padding-left: 0.6rem !important;
}

.cat-skill-type {
  /* width: 100%; */
  /* min-width: 13.5rem; */
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 0;
}

.force-inline {
  display: inline-block !important;
}

.cat-skill-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0 5px 40px;
}

.cat-skill-body-gen {
  display: flex;
  flex-wrap: wrap;
}

.skill {
  margin: 10px 0;
  padding: 0 10px;
}

.skill-gen {
  display: inline;
  padding: 5px 10px;
  margin: 3px 6px;
  margin-left: 0;
  background-color: #3173bb;
  color: #fff;
  border-radius: 3rem;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

.skill-progress-track {
  height: 10px;
  min-width: 150px;
  background-color: #eee;
  margin-top: 6px;
  border-radius: 6px;
}

.skill-progress {
  height: 100%;
  background-color: #3173bb;
  border-radius: 6px;
}

.pad-bottom-extra {
  padding-bottom: 20px;
}

.ach-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.exp-org {
  font-weight: 600;
  letter-spacing: 1px;
  color: #444;
}

.exp-title {
  color: #666;
}

.ach-title {
  width: 75%;
  color: #444;
}

.ach-duration {
  color: #666;
  font-style: italic;
  width: 15%;
  text-align: right;
}

.expDet {
  list-style-type: disc !important;
  color: #444;
  padding: 4px 0 4px 16px;
  font-style: italic;
}

.expDet>li {
  padding: 0.3rem 0 !important;
  padding-left: 0.3rem !important;
}

/* Media wuery for mobile view */
@media screen and (max-width: 500px) {
  .profile-logo {
    margin: 0 auto;
  }

  .header-title-section {
    width: 100%;
  }

  .header-title {
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    text-align: center;
  }

  .header-title .profile-contact {
    text-align: left;
  }

  .header-sub-title {
    /* justify-content: center; */
    text-align: center;
  }

  .link-title {
    padding-bottom: 3px;
    font-weight: 500;
  }

  .cat-title {
    letter-spacing: 2px;
    font-weight: 600;
  }

  .info-section .info-left {
    border: none;
  }

  .info-section .info-right {
    padding: 0;
  }

  .ach-item {
    flex-direction: column;
  }

  .ach-item .ach-title {
    width: auto;
  }

  .ach-item .ach-duration {
    width: auto;
    text-align: left;
  }

  .edu-header {
    flex-direction: column;
  }

  .edu-score {
    margin-left: 0;
  }

  .contact-item {
    /* width: 100%; */
    display: block;
    cursor: pointer;
  }

  .contact-icon {
    min-width: 1.8rem;
    text-align: center;
  }

  .cat-def-body,
  .cat-skill-body {
    padding: 0.5rem 0 0.5rem 1.4rem;
  }

  .cat-list-body {
    padding: 2px 0 10px 0px;
  }

  .cat-skill-body-gen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .project-link a {
    word-wrap: break-word;
  }

  .project-desc {
    color: #444;
    padding: 4px 0;
  }
}